# This is very helpful
alias ..="cd .."
alias ~="cd ~"

alias c='clear'
#alias d="$(which php) artisan dusk"
alias d="$(which docker)"
alias l="ls -lFG"             # List all files colorized in long format
#alias p='artisan test'
alias p="$(which php) vendor/bin/phpunit"
alias r="cd ~/Repositories"

alias artisan="$(which php) artisan"
alias nah="git reset --hard && git clean -fd"
alias mfs="artisan migrate:fresh --seed"
alias df="d --group=fails"
alias pf="p --group=fails"
alias wip="git commit -a -m 'wip'"
alias squash="git rebase -i master"
alias pest="$(which php) vendor/bin/pest"
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'

alias aws-su=asp
alias aws-whoami=agp

# List all files colorized in long format, including dot files
alias la="ls -laFG"
alias ls="command ls -G"

alias tf="$(which terraform)"
